<div class="header">
  <p class="heading">
    Blockchain-based Autonomous Vehicle Network Security Platform
  </p>
</div>
<div class="inputing">
  <mat-form-field appearance="fill">
    <mat-label>Select Route</mat-label>
    <mat-select [formControl]="routeControl" required>
      <mat-option>Clear</mat-option>
      <mat-option *ngFor="let route of routes" [value]="route"  (onSelectionChange)="showNewData()">
        {{ route.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="routeControl.hasError('required')"
      >Please choose a route</mat-error
    >
    <mat-hint>Selected route is {{ routeControl.value?.id }}</mat-hint>
  </mat-form-field>
  <button
    style="margin-left: 20px"
    mat-raised-button
    color="primary"
    (click)="mapClick()"
  >
    Show Map View
  </button>
  <!-- <button
    style="margin-left: 20px"
    mat-raised-button
    color="warn"
    (click)="mapClick()"
  >
    Connect Metamask
  </button> -->
  <button
    style="margin-left: 20px"
    type="button" 
    mat-button
    (click)="hideAddData()"
  >
    Add new data
  </button>
  

  <mat-drawer-container *ngIf="addDataShow == true" class="example-container">
    <mat-drawer #drawer class="example-sidenav" >
      
      <button
        mat-button
        (click)="addNewData()"
      >
        Add sensor data here
      </button>
      <form action="" name="f" [formGroup]="ClientForm" class="form">
        <mat-form-field class="example-form-field">
          <mat-label>id</mat-label>
          <input matInput name="name"  formControlName="id" placeholder="Enter id" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['id'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['id'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter id</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>timestamp</mat-label>
          <input matInput name="name"  formControlName="timestamp" placeholder="Enter timestamp" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['timestamp'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['timestamp'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter timestamp</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>accx</mat-label>
          <input matInput name="name"  formControlName="accx" placeholder="Enter accx" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['accx'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['accx'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter accx</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>accy</mat-label>
          <input matInput name="name"  formControlName="accy" placeholder="Enter accy" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['accy'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['accy'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter accy</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>accz</mat-label>
          <input matInput name="name"  formControlName="accz" placeholder="Enter accz" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['accz'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['accz'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter accz</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="example-form-field">
          <mat-label>price</mat-label>
          <input matInput name="name"  formControlName="price" placeholder="Enter price" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['price'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['price'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter price</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field class="example-form-field">
          <mat-label>rollx</mat-label>
          <input matInput name="name"  formControlName="rollx" placeholder="Enter rollx" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['rollx'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['rollx'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter rollx</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>yawy</mat-label>
          <input matInput name="name"  formControlName="yawy" placeholder="Enter yawy" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['yawy'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['yawy'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter yawy</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>pitchz</mat-label>
          <input matInput name="name"  formControlName="pitchz" placeholder="Enter pitchz" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['pitchz'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['pitchz'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter pitchz</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>latitude</mat-label>
          <input matInput name="name"  formControlName="latitude" placeholder="Enter latitude" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['latitude'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['latitude'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter latitude</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>longitude</mat-label>
          <input matInput name="name"  formControlName="longitude" placeholder="Enter longitude" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['longitude'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['longitude'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter longitude</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>payable_owner</mat-label>
          <input matInput name="name"  formControlName="payable_owner" placeholder="Enter payable_owner" type="text" required>
          <button
            *ngIf="this.ClientForm.controls['payable_owner'].value!=''"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.ClientForm.controls['payable_owner'].reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Enter payable_owner</mat-hint>
        </mat-form-field>
       
      </form>

    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Add new data
      </button>
    </div>
  </mat-drawer-container>
</div>

<!-- <div class="container mt-5">
  
  <h2>Angular Display Data from Json File Example</h2>
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>id</th>
          <th>timestamp</th>
          <th>accx</th>
          <th>accy</th>
          <th>accz</th>
          <th>rollx</th>
          <th>yawy</th>
          <th>pitchz</th>
          <th>latitude</th>
          <th>longitude</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{ user.id }}</td>
        <td>{{ user.timestamp }}</td>
        <td>{{ user.accx }}</td>
        <td>{{ user.accy }}</td>
        <td>{{ user.accz }}</td>
        <td>{{ user.rollx }}</td>
        <td>{{ user.yawy }}</td>
        <td>{{ user.pitchz }}</td>
        <td>{{ user.latitude }}</td>
        <td>{{ user.longitude }}</td>

      </tr>
    </tbody>
  </table>
</div> -->

<div *ngIf="mapShow == true" class="mapview">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    (mapClick)="mapClicked($event)"
  >
    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i, infowindow)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
    >
      <agm-info-window #infowindow>
        <strong>InfoWindow content</strong>
      </agm-info-window>
    </agm-marker>

    <agm-circle
      [latitude]="lat + 0.3"
      [longitude]="lng"
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true"
    >
    </agm-circle>
  </agm-map>
</div>

<div *ngIf="dataSource!=undefined" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>dataId</th>
      <td mat-cell *matCellDef="let element">{{ element.dataId }}</td>
    </ng-container>


    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>timestamp</th>
      <td mat-cell *matCellDef="let element">{{ element.timestamp }}</td>
    </ng-container>

  
    <ng-container matColumnDef="accx">
      <th mat-header-cell *matHeaderCellDef>accx</th>
      <td mat-cell *matCellDef="let element">{{ element.accx }}</td>
    </ng-container>


    <ng-container matColumnDef="accy">
      <th mat-header-cell *matHeaderCellDef>accy</th>
      <td mat-cell *matCellDef="let element">{{ element.accy }}</td>
    </ng-container>
    <ng-container matColumnDef="accz">
      <th mat-header-cell *matHeaderCellDef>accz</th>
      <td mat-cell *matCellDef="let element">{{ element.accz }}</td>
    </ng-container>
    <ng-container matColumnDef="rollx">
      <th mat-header-cell *matHeaderCellDef>rollx</th>
      <td mat-cell *matCellDef="let element">{{ element.rollx }}</td>
    </ng-container>
    <ng-container matColumnDef="yawy">
      <th mat-header-cell *matHeaderCellDef>yawy</th>
      <td mat-cell *matCellDef="let element">{{ element.yawy }}</td>
    </ng-container>
    <ng-container matColumnDef="pitchz">
      <th mat-header-cell *matHeaderCellDef>pitchz</th>
      <td mat-cell *matCellDef="let element">{{ element.pitchz }}</td>
    </ng-container>
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef>latitude</th>
      <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
    </ng-container>
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef>longitude</th>
      <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>
    <ng-container matColumnDef="payable_owner">
      <th mat-header-cell *matHeaderCellDef>payable_owner</th>
      <td mat-cell *matCellDef="let element">{{ element.payable_owner }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
