.heading {
    font-size: 25px;
    padding: 20px;
    padding-top: 20px;
    color: #4C6793;
    font-family: "Garamond", Times, serif;
    font-weight: 700;
   
  
}

agm-map {
  height: 500px;
}

a {
  color: darkblue;
}

table {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;

}
.header {
    border-left: #8BBCCC;
    border-width: 15px;
    border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  margin-left: 20px;
  margin-top: 20px;

}
.inputing {
  padding: 20px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mapview {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-container {
  width: auto;
  height: 250px;
  border: 2px solid rgba(0, 0, 0, 1);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-form-field {
  width: 200px;
  padding-right: 30px;
}
